//
// Copyright (c) 2015-present, Parse, LLC.
// All rights reserved.
//
// This source code is licensed under the BSD-style license found in the
// LICENSE file in the root directory of this source tree. An additional grant
// of patent rights can be found in the PATENTS file in the same directory.
//

#include "Shared/Platform/iOS.xcconfig"
#include "Shared/Product/UnitTest.xcconfig"
#include "Pods/Target Support Files/Pods-ParseTwitterUtils-Tests/Pods-ParseTwitterUtils-Tests.debug.xcconfig"

PRODUCT_NAME = ParseTwitterUtils-Tests
IPHONEOS_DEPLOYMENT_TARGET = 8.0

CLANG_ENABLE_MODULES = YES

FRAMEWORK_SEARCH_PATHS = $(inherited) $(BUILT_PRODUCTS_DIR) $(BUILT_PRODUCTS_DIR)/OCMock $(SRCROOT)/Vendor
HEADER_SEARCH_PATHS = $(inherited) $(BUILT_PRODUCTS_DIR)

INFOPLIST_FILE = $(PROJECT_DIR)/Tests/Resources/Info.plist

TEST_HOST = $(BUILT_PRODUCTS_DIR)/ParseTwitterTestApplication.app/ParseTwitterTestApplication
